/* 
Layout / Colors 
Edit this settings to customize your Layout
*/

@import url(bootstrap.css);
@import url(bootstrap-responsive.css);
@import url(animate.css);

/* Primary Color: White */

body, a, a:hover, a:active, a:focus, .widget_recent_entries a:hover, aside.pt_recent_posts_widget li a:hover, .sc_recent_posts ul li a:hover, .wpb_accordion_content.ui-accordion-content, .wpb_wrapper .ui-state-active a, .wpb_wrapper .ui-state-active a:link, .wpb_wrapper .ui-state-active a:visited, .wpb_wrapper .ui-state-default a, .wpb_wrapper .ui-state-default a:link, .wpb_wrapper .ui-state-default a:visited, .origami, .origami .origami-content, .origami-content span.hi-icon:before, .icon_box h3, .icon_box a, .icon_box a:hover, .portfolio-item a:hover, .sc_recent_works .bx-wrapper .bx-pager .bx-pager-item a:hover, .sc_recent_posts .bx-wrapper .bx-pager .bx-pager-item a:hover
{ color: #ffffff; }

.bx-wrapper .bx-pager .bx-pager-item a:hover, .icon_box .wrapper 
{ border-color: #ffffff; }

.pt_testimonial_wrapper .bx-wrapper .bx-pager .bx-pager-item a:hover, .icon_box:after, .portfolio-page .categories-filter .bt-filter
{ border-color: #ffffff; }

.sc_recent_works .bx-wrapper .bx-pager.bx-default-pager a.active, .icon_box .hi-icon, .icon_box:after, .sc_recent_posts .bx-wrapper .bx-pager.bx-default-pager a.active, .portfolio-page .categories-filter.active, .bx-wrapper .bx-pager.bx-default-pager a.active, .pt_testimonial_wrapper .bx-wrapper .bx-pager.bx-default-pager a.active
{ background: #ffffff; }

.origami .kami
{ background-color: #ffffff; }

@media (max-width: 979px) and (min-width: 768px) { .portfolio-title 
	{ color: #ffffff; } 
}

.wpb_accordion_header.ui-accordion-header.ui-helper-reset.ui-state-default 
{ border-color: rgba(255,255,255, 0.5); }

/* Hover Color: Aqua Green */

a:hover, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a, .origami .hi-icon:before, .icon_box .hi-icon 
{ color: #80DAF0 }

.flexslider.page-carousel li:hover:before, .flexslider .flex-control-thumbs li:hover:before 
{ border-color: #80DAF0 }

.origami .origami-content 
{ background-color: #80DAF0 }

@media (max-width: 979px) and (min-width: 768px) { a:hover, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a 
	{ color: #80DAF0 /*!important*/; } 
}

/* Secondary Color: Black */

nav li a.active, nav li a.active:hover, nav .nav>li>a:hover, nav .nav>li>a:focus, .dropdown-menu>li>a, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus, .dropdown.open a.dropdown-toggle, section.comments #respond, section.comments a.comment-reply-link, section.comments a.comment-reply-link:hover, #commentform input, #commentform textarea, #commentform .form-submit input, ul.social-profiles li.language_list a:hover,aside.widget_tag_cloud .tagcloud a:hover, .pagination ul>li>a:hover, .pagination ul>li>.current, .color-black, footer .copyright, .portfolio-page .categories-filter.active, .portfolio-page .categories-filter.active a, .footer-nav li a
{ color: #000000 }

section .categories-filter ul, nav li a:hover:before, nav li a:active:before, nav li a:focus:before, .dropdown-submenu:hover > a:before 
{ border-color: #000000 }





a.o_logo img {opacity: 0.3}
	a.o_logo:hover img {opacity: 1}




 /* Fonts */
@font-face {
 	font-family: 'entypo';
 	src: url('https://s3.amazonaws.com/pixelthrone/fonts/entypo/entypo.eot');
 	src: url('https://s3.amazonaws.com/pixelthrone/fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'),
 	url('https://s3.amazonaws.com/pixelthrone/fonts/entypo/entypo.woff') format('woff'),
 	url('https://s3.amazonaws.com/pixelthrone/fonts/entypo/entypo.ttf') format('truetype'),
 	url('https://s3.amazonaws.com/pixelthrone/fonts/entypo/entypo.svg#entypo') format('svg');
 	font-weight: normal;
 	font-style: normal;
 }
 .entypo { font-family: "entypo" !important; font-style: normal !important; line-height: 100%; }

body { font-family: 'Open Sans', sans-serif; font-size: 14px;  } 
body, a, a:hover, a:active, a:focus, .widget_recent_entries a:hover, aside.pt_recent_posts_widget li a:hover { color: #fff; }
a { cursor: pointer; }
a:hover { color: #80DAF0; }

hr { border-color: #FFFFFF; border-style: solid; border-width: 1px 0 0; margin: 10px 0; opacity: 0.5;}

.fixed { position: fixed; }
.relative { position: relative; }

.color-black { color: black; }
.no-scroll { overflow: hidden; }
.pointer { pointer-events:none; }
.no-pointer { pointer-events:auto; }

#contact_map img { max-width: none; }

#mask-shape, .bg, .bg.bg-contacts { position: fixed; z-index: 0; top: 0; left: 0; right: 0; bottom: 0; }
.bg.bg-contacts { position: fixed !important; }


/* 
** mask-shape colour 

#mask-shape, .gradient { z-index: 1; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmZjBiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZDgzZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: #2d83de; background: -moz-linear-gradient(left, #3FF0BC 0%, #2D83DE 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3FF0BC), color-stop(100%,#2D83DE)); background: -webkit-linear-gradient(left, #3FF0BC 0%,#2D83DE 100%); background: -o-linear-gradient(left, #3FF0BC 0%,#2D83DE 100%); background: -ms-linear-gradient(left, #3FF0BC 0%,#2D83DE 100%); background: linear-gradient(to right, #3FF0BC 0%,#2D83DE 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ff0bc', endColorstr='#2d83de',GradientType=1 ); }
*/


/* Colour 2 */ 
#mask-shape, .gradient { z-index: 1; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmZjBiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZDgzZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: #7D9BCE; background: -moz-linear-gradient(left, #80DAF0 0%, #7D9BCE 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,#80DAF0), color-stop(100%,#7D9BCE)); background: -webkit-linear-gradient(left, #80DAF0 0%,#7D9BCE 100%); background: -o-linear-gradient(left, #80DAF0 0%,#7D9BCE 100%); background: -ms-linear-gradient(left, #80DAF0 0%,#7D9BCE 100%); background: linear-gradient(to right, #80DAF0 0%,#7D9BCE 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80DAF0', endColorstr='#7D9BCE',GradientType=1 ); }



.bg { background-size: cover; background-position: top center; }
.bg.video video, .bg.video object { position:absolute; left:0; top:0; }
#player { position: absolute; height: 100%; width: 100%; }

body .unloaded #loader { position:fixed; top:0; left:0; right:0; bottom:0; opacity: 1; display: block; z-index: 9; }
body .loaded #loader, body .loaded-window #loader { opacity: 0; display:none; }
.unloaded, #mask-shape.unloaded {opacity: 1; filter: alpha(opacity=100); z-index: 3}

/*.loaded, #mask-shape.loaded { opacity: 0.6; filter: alpha(opacity=60);  }*/

.loaded-lightwindow, #mask-shape.lightwindow { opacity: 0.75;  filter: alpha(opacity=75); }
.loaded-window, #mask-shape.loaded-window { opacity: 0.95 !important;  filter: alpha(opacity=95) !important; z-index: 8; }

/* Typography */
h1 { font-family: "bree",sans-serif; font-size: 80px; line-height:90px; margin-bottom: 45px;  position: relative; z-index:1; }
h2 { font-size: 30px; line-height: 35px; font-weight: 300; /*text-transform: uppercase;*/ margin-bottom: 40px; }
h3 { font-size: 20px; line-height: 30px; font-weight: 400; margin-bottom: 10px; }
h4 { font-size: 16px; line-height: 20px; font-weight: 600; margin: 0; }
h5 { font-size: 16px; line-height: 20px; font-weight: 400; margin: 0; color: #000; font-style: italic; }
h6 { font-size: 13px; line-height: 20px; font-weight: 400; font-style: italic; margin-top: 20px; margin-bottom: 10px; color: #000; }

	.typebree {font-family: "bree",sans-serif;}

small { font-size: 11px; line-height: 16px; }
.opcty05 { opacity: 0.5; }
.opcty06 { opacity: 0.6; }
.opcty08 { opacity: 0.8; }

section h1.fixed, section.blog h1.fixed { z-index: 3; }
section h2.fixed, section.blog h2.fixed { z-index: 2; margin-top: 97px; }

section .span8 h2 { margin-bottom: 20px; }

/* Structure */
.container { position: relative; z-index: 3; }

header, section, footer, nav li a, .social .social-icons li, footer .copyright, footer #fullscreen, .btn-navbar { opacity: 0; z-index: 3; }

.social .twitterfeed { opacity: 0; z-index: 2 }

header, footer { bottom:0; z-index: 4; }

header { position: fixed; top: 180px; height: 60%; }
figure { margin: 0; }
header figure { position: relative; z-index: 1;  }
header figure a { font-size: 32px; margin-left: -25%; color: #000; }
header figure img { width: 169px; }
header figure img.retina { display: none; }

section.main { margin-top: 180px; margin-bottom: 80px; }

.mb25 { margin-bottom:25px; }
.mt20 { margin-top:20px; }

.videoWrapper { position: relative; padding-bottom: 56.25%; /* 16:9 */ height: 0; margin-bottom: 30px; }
.videoWrapper object, .videoWrapper embed, .videoWrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Menu */
nav { margin-top: 18px;  }
nav li { margin-top: 12px; }
nav a { position: relative; z-index: 1; }
nav li a:before { content: ""; display: inline-block; height: 0; margin-left: 0; padding-left: 0; position: absolute; top: 50%; width: 0; left: -42px; }
nav li a:hover:before, nav li a:active:before, nav li a:focus:before, .dropdown-submenu:hover>a:before { background: none repeat scroll 0 0 transparent; border-top: 1px solid #000000; content: ""; height: 0px; left: -42px; padding-top: 0; width: 32px; }
nav li a, nav li a:active, nav li a:focus { font-size: 16px; font-weight: 600; line-height: 20px; text-transform: uppercase; text-decoration: none; display: block; margin-left: 0px;  }
nav li a.active, nav li a.active:hover, nav li.active > a { color: #000; }
nav .nav>li>a:hover, nav .nav>li>a:focus, .dropdown-menu>li>a { background-color: transparent; color: #000; }
.nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a { }

nav li.current-menu-ancestor>a, nav li.current_page_ancestor>a, nav li.current_page_parent>a, nav li.current-menu-item>a, .dropdown-menu>.active>a { text-decoration: line-through; line-height: 20px; }
nav .dropdown-menu { background: none; border: none; box-shadow: none; padding: 0; }
nav .dropdown-menu li { margin: 0; }
.dropdown-menu>li>a { font-weight: 600; padding: 3px 0; }
.dropdown-submenu>.dropdown-menu { top: -3px; left: 100%; margin: 0 0 0 -100px; padding-left: 100px; }
.dropdown-submenu>a:after { background-image: url("../img/plus.png"); background-repeat: no-repeat; border: medium none; content: ""; float: none; height: 5px; left: -15px; position: absolute; top: 50%; margin: -2px 0 0 0; width: 5px; }
.dropdown-submenu>a:hover:after { content: none; }
.dropdown-submenu:hover>a:after { background: none; }

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus { background: none; filter:none; }
.dropdown-menu>li>a, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus, .dropdown.open a.dropdown-toggle { color: #000; }

.subnav-layer { background-color: #5A8CAB; opacity: 0.85; filter: alpha(opacity=85); width: 0px; position: fixed; top: 0; bottom: 0; left: 0px; transform: skewX(10deg); -moz-transform: skewX(10deg); -webkit-transform: skewX(10deg); -ms-transform: skewX(10deg); }

.caret { display: none; }

.btn-navbar { display: none; background: none repeat scroll 0 0 transparent; border: 1px solid rgba(255, 255, 255, 0.6); border-radius: 20px; box-shadow: none; color: #FFFFFF; float: none; font-size: 13px; line-height: 16px; margin: 20px auto 0; padding: 5px 16px; text-align: center; text-shadow: none; width: auto; }
.btn-navbar:hover, .btn-navbar:focus, .btn-navbar:active, .btn-navbar.active, .btn-navbar.disabled, .btn-navbar[disabled] { color: #ffffff; background: none; border-color: rgba(255, 255, 255, 1); }
.btn-navbar:active, .btn-navbar.active { background-color: #cccccc \9; }
.btn-navbar .icon-bar { display: block; width: 18px; height: 2px; background-color: #f5f5f5; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.btn-navbar .icon-bar + .icon-bar { margin-top: 3px; }

/* Footer */
footer { position: fixed; left: 0; right: 0; bottom: 12px; }
footer .copyright { color: rgb(0, 0, 0); color: rgba(0, 0, 0, 0.6); font-size: 11px; font-weight: 600; text-transform: uppercase; line-height: 14px; }

/* Footer Nav */
.footer-nav li { display: inline-block; margin-right: 8px; font-size: 10px; }

/* Portfolio / Blog */
section.portfolio ul, section.blog ul { margin: 0; }
section.portfolio li, section.blog li { list-style: none; margin-bottom: 10px; }

.categories-filter { position: fixed; top:450px; margin-left: -33px; z-index: 1; }
.categories-filter ul { border-right: 1px solid #000000; padding: 10px 10px 10px 0; text-align: right; }
.categories-filter li { margin: 0; }
.categories-filter li a.active { text-decoration:line-through; color: #fff; }

.portfolio-page .categories-filter { position: absolute; top: -60px; right: 0; z-index: 9; height: auto; margin: 0; text-align: center;  padding: 15px 30px 15px 30px;  }
.portfolio-page .categories-filter ul { text-align: center; border: none; display: block; padding: 0; margin: 0; height: 0; opacity: 0; overflow: hidden;}
.portfolio-page .categories-filter ul li { text-align: center; font-size: 20px; margin:15px 0; line-height: 100%; }
.portfolio-page .categories-filter .bt-filter { display: inline-block; border-radius: 3px; border: 1px solid #fff; padding: 5px 15px; text-transform: uppercase; text-decoration: none; line-height: 100%; font-size: 13px; cursor: default;}

.portfolio-page .categories-filter.active { background: #fff;  }
.portfolio-page .categories-filter.active ul { display: block; height: auto; opacity: 1;  }
.portfolio-page .categories-filter.active, .portfolio-page .categories-filter.active a { color: #000;  }
.portfolio-page .categories-filter.active .bt-filter { opacity: 0.15; }

section.portfolio .content h2, section.blog .content h2 { line-height: 28px; margin-top: 32px; margin-bottom: 10px; opacity: 0; word-wrap: break-word; }
section li a figure { margin: 0; display: inline-block; position: relative; overflow: hidden; } 
section li a figure .gradient, .portfolio-item .gradient { position: absolute; width: 100%; height: 200%; left: 0; opacity: 0.7; filter: alpha(opacity=70); }
section.portfolio li a .portfolio-title, section.blog li a .blog-title { margin-left: -110px; padding-left: 30px; position: relative; z-index: 1; }
section.portfolio li a:hover .portfolio-title, section.blog li a:hover .blog-title { margin-left: 0px; padding-left: 30px; }
section.portfolio li a:hover figure .gradient, section.blog li a:hover figure .gradient { transform-origin: 0.0px 0.0px; }

/* Portfolio templates */
.portfolio-page .portfolio-title { position: relative; padding-left: 40px; }
section.portfolio .portfolio-page.content h2 { margin-top: 0; margin-bottom: 0; position: absolute; bottom: -15px; z-index: 2}
section.portfolio .portfolio-page.content .subtitle { position: absolute; bottom: -55px; z-index: 2 }

.portfolio-page.portfolio-1 .portfolio-item { margin-bottom: 80px; float: left; width: 290px; margin-right: 20px; min-height: 180px;}
.portfolio-page.portfolio-1 .portfolio-item:nth-child(2n+2) { margin-right: 0; }

.portfolio-page .portfolio-item figure { position: relative; margin: 0; display: inline-block; overflow: hidden; z-index: 1}
.portfolio-item figure .gradient { -webkit-transform: matrix(1, 0, 0, 1, 0, -380); -ms-transform: matrix(1, 0, 0, 1, 0, -380); -moz-transform: matrix(1, 0, 0, 1, 0, -380); transform: matrix(1, 0, 0, 1, 0, -380); }
.mask-readable { position: absolute; bottom: 0; left: 0; right: 0; height: 50px; background: -moz-linear-gradient(top, rgba(0,0,0,0) 10%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, rgba(0,0,0,0) 10%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(0,0,0,0) 10%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(0,0,0,0) 10%,rgba(0,0,0,0.5) 100%); /* IE10+ */background: linear-gradient(to bottom, rgba(0,0,0,0) 10%,rgba(0,0,0,0.5) 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */}

.portfolio-page .portfolio-item figure { width: 100%; }

/* Potfolio Template 2 */
.portfolio-page.portfolio-2 .portfolio-title { display: block; position: absolute; bottom: 10px; left: 0; z-index: 2; opacity: 0; padding-left: 20px;}
.portfolio-page.portfolio-2 .portfolio-item:hover .portfolio-title { opacity: 1}
.portfolio-page.portfolio-2 .portfolio-item { margin-bottom: 14px; float: left; width: 192px; margin-right: 14px; min-height: 151px;}
.portfolio-page.portfolio-2 .portfolio-item:nth-child(3n+3) { margin-right: 0; }

section.portfolio .portfolio-page.portfolio-2 h2 { position: static; margin: 5px 0; font-size: 18px; line-height: 120%; }
section.portfolio .portfolio-page.portfolio-2 .subtitle { position: static; margin: 5px 0; font-size: 11px; }
.portfolio-2 .mask-readable { display: none; }

/* Potfolio Template 3 */
.portfolio-page.portfolio-3 .portfolio-item figure .gradient { -webkit-transform: matrix(1, 0, 0, 1, 0, -700); -ms-transform: matrix(1, 0, 0, 1, 0, -700); -moz-transform: matrix(1, 0, 0, 1, 0, -700); transform: matrix(1, 0, 0, 1, 0, -700); }
.portfolio-page.portfolio-3 .portfolio-item { margin-bottom: 80px; min-height: 350px; }


/* Single Portfolio */
article.single-portfolio { margin-top: 60px; opacity: 0; filter: alpha(opacity=0); }
article.portfolio h2{ margin-bottom: 20px; }
article.portfolio .portfolio-content { margin-top: -85px; }

/* Blog */
.sidebar-blog { margin-top: 105px; }
/*section.blog .content { margin-top: 105px; }*/

section.blog .subtitle { font-size: 11px; line-height: 16px; }
section.blog li a .blog-title-no-image { margin-left: -110px; padding-left: 0px; position: relative; z-index: 1; }
.blog-video-thumb { max-width: 246px; width: 100%; max-height: 138px; }
.blog-video-thumb-large { max-width: 375px; width: 100%; max-height: 210px; }

/* Single Blog */
section.blog-single .sidebar-blog { margin-top: 0px; }
section.blog-single figure { margin-left: -30px; margin-top: 10px; margin-bottom: 30px; }
section.blog-single .no-image { margin-bottom: 100px; }
section.blog-single .content h2 { margin-top: 0px; margin-bottom: 25px; }
.spanvideoWrapper { margin-bottom: 25px;}

/* Comments  */
section.comments #respond { color: #000; }
section.comments #respond p, section.comments #respond h5 { text-align: left; }
section.comments ol, section.comments li, section.comments p.date { margin: 0; }
section.comments li.depth-1 { margin-top: 15px; padding-top: 30px; border-top: 1px solid rgb(255,255,255); border-top: 1px solid rgba(255,255,255, 0.5); }
section.comments li:first-child { border-top: none; margin: 0; padding: 0; }
section.comments ol { margin-bottom: 20px; padding-bottom: 30px; border-bottom: 1px solid rgb(255,255,255); border-bottom: 1px solid rgba(255,255,255, 0.5);}
section.comments .avatar img { border-radius: 30px; border: 2px solid #fff; }
section.comments a.comment-reply-link { font-family: "entypo"; font-size: 20px; color: #000; opacity: 0.3; filter: alpha(opacity=30); display: block; margin-top: 17px; text-decoration: none; }
section.comments a.comment-reply-link:hover { color: #000 !important; opacity: 1; filter: alpha(opacity=100); }
section.comments .children { margin-left: 17.094%; margin-top: 15px; position: relative; }
section.comments .children li:before { border-style: solid; border-width: 0 0 1px 1px; border-color: rgb(255,255,255); border-color: rgba(255,255,255, 0.5); content: ""; display: block; height: 32px; left: -51px; position: absolute; width: 29px; }

/* Comments Form*/
.title_reply { float: left; font-size: 36px; margin-right: 20px; height: 50px; }
#commentform input, #commentform textarea { background: none; border: 1px solid #FFFFFF; color: #000; box-shadow: none; padding: 5px; font-size: 13px; }
#commentform input { height: 40px; }
#commentform .form-submit input { color: #000; border: 1px solid #000000; border-radius: 5px; padding: 12px 0; width: 100%; cursor: pointer; margin-top: 10px; }

/* Widgets */
aside.widget li { margin-bottom: 0px;}

aside.widget_search label { display: none; }
aside.widget_search input, aside.widget_search input:focus { background-color: transparent; color: #fff; padding: 0px 30px 0px 10px; border-radius: 0; border: none; border-bottom: 1px solid rgb(255,255,255); border-bottom: 1px solid rgba(255,255,255, 0.5); box-shadow: none; }
aside.widget_search button { background: url("../img/glyphicons-halflings-white.png") no-repeat -48px 0; padding: 0; position: absolute; right: 10px; bottom: 15px; height: 14px; width: 14px; text-indent: -9999px; border: none; }

aside.widget_categories li:before { content: "—"; margin-right: 4px; }

aside.widget_recent_entries a, aside.pt_recent_posts_widget a { line-height: 16px; }
aside.widget_recent_entries .post-date, aside.pt_recent_posts_widget .post-date { font-size: 11px; line-height: 16px; font-style: italic; opacity: 0.5; filter: alpha(opacity=50); display: block; }

aside.pt_recent_posts_widget li { margin-bottom: 10px; height: 50px; position: relative; }
aside.pt_recent_posts_widget li a p { margin: 0px; }
aside.pt_recent_posts_widget li img { left: -37px; opacity: 0.2; filter: alpha(opacity=20); position: absolute; max-width: 74px; max-height: 50px; }
aside.pt_recent_posts_widget li .post-title, aside.pt_recent_posts_widget li .post-date { position: relative; z-index: 1; }
aside.pt_recent_posts_widget li a.image:hover img { opacity: 1; filter: alpha(opacity=100); }
aside.pt_recent_posts_widget li a.image:hover .post-title { margin-left: 50px; }
aside.pt_recent_posts_widget li a.image:hover .post-date { opacity: 0; filter: alpha(opacity=0); -webkit-transition: all 0ms ease-out; -moz-transition: all 0ms ease-out; transition: all 0ms ease-out; }

aside.widget_tag_cloud .tagcloud a, .pagination ul>li>a, .pagination ul>li>span { font-size: 13px !important; background: none; display: inline-block; padding: 1px 5px 3px; margin: 0px 2px 5px 0px; border-radius: 5px; font-size: 13px; border: 1px solid rgb(255,255,255); border: 1px solid rgba(255,255,255,0.5); }
aside.widget_tag_cloud .tagcloud a:hover, .pagination ul>li>a:hover, .pagination ul>li>.current { background-color: #fff; color: #000; text-decoration: none; }

aside.pt_video_widget a { position: relative; display: block; }
aside.pt_video_widget a:hover img { opacity: 1; filter: alpha(opacity=100); }
aside.pt_video_widget img { width: 178px; opacity: 0.4; filter: alpha(opacity=40);}
aside.pt_video_widget .video-title, .video-title { bottom: 15px; margin: 0 10px; position: absolute; z-index: 2; }
aside.pt_video_widget .play-icon, .play-icon { border: 2px solid; border-radius: 26px; float: left; font-size: 26px; height: 22px; line-height: 17px; text-align: center; width: 22px; text-shadow: 0px 1px 3px rgb(0, 0, 0, 0.5); text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5); }
aside.pt_video_widget p { display: block; line-height: 16px; margin: -4px 0 0 36px; }

.popup-video:before { content: '\25B6';}
.popup-image:before { content: '\1F50D';}
.popup-video, .popup-image { font-family: 'entypo'; position: absolute; top: 10px; right: 10px; border: 2px solid; border-radius: 26px; font-size: 16px; height: 22px; line-height: 22px; text-align: center; width: 22px; text-shadow: 0px 1px 3px rgb(0, 0, 0, 0.5); text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5); }
.popup-video:link, .popup-image:link { text-decoration: none; }

/* Pagination */
.pagination ul>li>a, .pagination ul>li>span, .pagination ul>li>a:hover { font-size: 11px !important; border-radius: 20px 20px 20px 20px !important; width: 18px; height: 18px; line-height: 18px; margin: 0 2px; padding: 0; }

/* Social Share */
.nav-share { margin-top:5px; margin-bottom: 45px; }
.nav-share a { padding: 4px 10px; opacity: 0.7 !important; border: 1px solid; display: block; text-decoration: none; }
.nav-share a:before { font-family: 'entypo'; padding-right: 10px; font-size: 20px; line-height: 100%;}
.nav-share a.tweet:before { content: '\F309'; }
.nav-share a.share:before { content: '\F30C'; }
.nav-share a.pinit:before { content: '\F313'; }
.fb_social { background: none no-repeat scroll 8px 45px #FFFFFF; position: absolute; top: -50px; left: 10px; margin: 0; padding: 10px; }
.fb_social:after { border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid #fff; content: ""; display: inline-block; left: 30px; position: absolute; bottom: -6px; }

/* Social Icons */
.social { margin-top: 55px; position: fixed; }
.social-icons { margin-top: 13px; }
ul.social-profiles { margin-bottom: 0; }
ul.social-profiles li { padding: 0 5px; opacity: 0; vertical-align: middle; }
ul.social-profiles li a { font-family: 'entypo'; font-size: 21px; padding: 5px; line-height: 100%; opacity: 0.5; filter: alpha(opacity=50); }
ul.social-profiles li a:hover { color: #fff; padding: 5px; opacity: 1; filter: alpha(opacity=100); }
ul.social-profiles li a:hover, ul.social-profiles li a:active, ul.social-profiles li a:focus { text-decoration: none; }
ul.social-profiles li.sep { display: inline-block; height: 28px; width: 1px; margin: 0 7px 0 -4px; border-right: 1px solid rgb(255, 255, 255); border-right: 1px solid rgba(255, 255, 255, 0.5);  }

/* Social Icons */
li.github a:after      { content: '\F300'; }
li.flickr a:after      { content: '\F303'; }
li.vimeo a:after       { content: '\F306'; }
li.twitter a:after     { content: '\F309'; }
li.facebook a:after    { content: '\F30E'; }
li.gplus a:after       { content: '\F30F'; }
li.pinterest a:after   { content: '\F312'; }
li.tumblr a:after      { content: '\F315'; }
li.linkedin a:after    { content: '\F318'; }
li.dribbble a:after    { content: '\F31B'; }
li.stumbleupon a:after { content: '\F31E'; }
li.lastfm a:after      { content: '\F321'; }
li.behance a:after     { content: '\F34E'; }
li.instagram a:after   { content: '\F32D'; }
li.skype a:after       { content: '\F339'; }
li.soundcloud a:after  { content: '\F348'; }

li.newsletter { /*margin-right: 6px;*/ }
li.newsletter a:after  { content: '\2709'; }
li.newsletter a span { opacity: 0; filter: alpha(opacity=0); display: inline-block; vertical-align: top; font-family: open sans; font-size: 10px; font-weight: 600; line-height: 12px; padding-right: 10px; text-align: right; text-transform: uppercase; }
li.newsletter a:hover span { opacity: 1; filter: alpha(opacity=100); }

/* WMPL */
ul.social-profiles li.language_list a, ul.social-profiles li.language_list a.language { font-family: 'Open Sans', sans-serif; font-size: 10px; line-height: 100%; text-align: center; text-transform: uppercase; padding: 2px 0; display: block; }
ul.social-profiles li.language_list { border: 1px solid rgb(255, 255, 255); border: 1px solid rgba(255, 255, 255, 0.5); border-radius: 3px; padding: 3px 5px 4px 5px; margin: 0 10px; vertical-align: text-top; }
ul.social-profiles li.language_list a:hover { color: #000; opacity: 1; filter: alpha(opacity=100); }
ul.social-profiles li.language_list ul { margin-top: 4px; padding-bottom: 2px; }
ul.social-profiles li.language_list li { padding: 0px; text-align: center; opacity: 1; }
ul.social-profiles li.language_list li.current-language { display: none; }
ul.social-profiles li.language_list li a { padding: 5px 0 6px 0; border-top: 1px solid rgb(255, 255, 255); border-top: 1px solid rgba(255, 255, 255, 0.5); opacity: 1; filter: alpha(opacity=100); }
ul.social-profiles li.language_list li:last-child a { padding-bottom: 0px; }
/*ul.social-profiles li.language_list a:hover, ul.social-profiles li.language_list a.language:hover { padding: 0px; }*/

/* Twitter Fedd */
.social .twitterfeed { margin-left: 5px; top: 120px; }
.twitter-feed.span3 { margin-left: 20px;}
.social .twitterfeed ul { margin: 1px 0 0 0; }
.social .twitterfeed li { list-style: none; font-size: 13px; line-height: 16px; display: block; width: inherit; }
.social .twitterfeed li .tweet_text { height: 63px; display: block; }
.social .twitterfeed li .tweet_text a { font-weight: 700; margin-bottom: 15px; text-decoration: underline; word-wrap: break-word; }
.social .twitterfeed li .tweet_time { display: block; }
.social .twitterfeed li .tweet_time a { font-size: 11px; display: inline-block; }
.social .twitterfeed li .tweet_time:before { content: '\2013'; padding-right: 4px; }
.social .twitterfeed .twitter-feed-icon { background-image: url('../img/twitter-feed.png'); background-repeat: no-repeat; width: 8px; height: 61px; margin-left: 32px; }
.social .twitterfeed .twitter-feed .tweet_list .tweet_first { display: block; }

/* Twitter Feed Footer/ Tablet */
footer .twitterfeed { float: none; text-align: center; margin-bottom: 30px; }
footer .twitter-feed { margin: 0; width: 100%; }
footer .twitter-feed ul { display: inline-block; height: 40px; margin: 0 0 15px; position: relative; text-align: center; width: 330px; }
footer .twitter-feed li { display: block; }
footer .twitterfeed .tweet_text { font-size: 13px; line-height: 16px; }
footer .twitterfeed .tweet_time { display: block; opacity: 0.7; filter: alpha(opacity=70); }
footer .twitter-icon { content: '\F309'; font-family: 'entypo'; font-size: 21px; }
footer .twitter-icon:before { border-right: 1px solid #FFFFFF; content: ''; display: block; height: 10px; margin-bottom: 6px; opacity: 0.3; filter: alpha(opacity=30); padding-top: 0; text-align: center; width: 50%; }

/* Services list */
.services-list { margin-bottom: 20px; }
.services-list .icon { font-family: "entypo"; font-size: 48px; line-height: 48px; }
.services-list .span2{ margin-left: 0; }
.icon { font-family: "entypo"; }

/* ShortCodes */
.icon_list_below h4 { font-size: 20px; font-weight: 400; margin: -2px 15px 0 0; display: block; }
.icon_list_below p { margin-top: 15px; display: block; }
.icon_list { margin-bottom: 30px; font-size: 50px; }

.our-team { margin: 10px 18px; }
.our-team h3 { margin: 0; }
.our-team-picture { position: relative; }
.our-team-picture img { display: block; }
.our-team-picture ul { opacity: 0; filter: alpha(opacity=0); /*padding: 58px 0;*/ padding: 25% 0; text-align: center; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.our-team-picture ul li { padding: 0 1px; opacity: 0; }
.our-team-picture:hover ul { opacity: 0.9; filter: alpha(opacity=90); }

.progress, .progress-bar { box-shadow: none; border-radius: 15px; height: 15px; }
.progress { background: transparent; border:1px solid; opacity: 0.3; filter: alpha(opacity=30); margin: 0; }
.progress-bar { opacity: 1; filter: alpha(opacity=100); position: relative; bottom: 16px; }
.progress-label { margin-bottom: 5px; }

.contact_form h3 { margin: 0; line-height: 22px; }

div.wpb_separator { border-bottom: 1px solid #FFFFFF; margin: 35px 0 45px 0; opacity: 0.5; filter: alpha(opacity=50); }

/* Carousel */
.sc_recent_works h2 { position: absolute; bottom: -45px; z-index: 2; padding: 0 0 0 10px; }
.sc_recent_works .inline>li { padding: 0; }
.sc_recent_works ul li { margin-right: 16px; height: 145px; }
.sc_recent_works ul li:last-child { margin: 0px;}
.sc_recent_works .gradient { top: 0; }

.sc_recent_posts .inline>li { padding: 0; }
.sc_recent_posts ul li { margin-right: 16px; /*height: 145px;*/  }
.sc_recent_posts ul li a div.pull-left{width: 30%; }
.sc_recent_posts ul li:last-child { margin: 0px; }
.sc_recent_posts ul li a p.post-date { display: block; width: 74px; font-style: italic; font-size: 11px; line-height: 16px; opacity: 0.5; filter: alpha(opacity=50); }
.sc_recent_posts ul li a p.post-title { margin-left: 5%; width: 65%; line-height: 16px; }
.sc_recent_posts ul li a:hover p.post-title { text-decoration: underline; }
.sc_recent_posts ul li img { opacity: 0.5; filter: alpha(opacity=50); /*max-width: 74px; max-height: 50px;*/ }
.sc_recent_posts ul li a:hover img { opacity: 1; filter: alpha(opacity=100); }

.icon_box h3 { margin-bottom: 0; }
.icon_box p { opacity: 0.8; }
.icon_box .wrapper { position: relative; display: block; padding: 34px 0 20px 0; width: 100%; border:3px solid #fff; background-color: none;  text-decoration: none; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; transform-style: preserve-3d; }
.icon_box .hi-icon { position: absolute; top: -30px; left: 50%; display: inline-block; margin-left: -13px; padding: 16px 18px 18px 16px; width: 26px;  height: 26px; border-radius: 50px; background: #fff; color: #5A8CAB; }
.icon_box .hi-icon:before { font-size: 30px;  line-height: 30px; }
.prespective{position:relative;z-index:100;display:block;-webkit-perspective:800px;-moz-perspective:800px;perspective:800px;}
.icon_box{position:relative;display:block;outline:0;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d;}
.icon_box:after{position:absolute;top:100%;left:0;z-index:-1;width:100%;height:40%;border:3px solid #eee;background:#fff;content:'';opacity:0;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s;-webkit-transform:rotateX(-90deg);-moz-transform:rotateX(-90deg);-ms-transform:rotateX(-90deg);transform:rotateX(-90deg);-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;}
.icon_box:hover:after{opacity:1;}
.icon_box:hover{-webkit-transform:rotateX(15deg);-moz-transform:rotateX(15deg);-ms-transform:rotateX(15deg);transform:rotateX(15deg);}


/* Pagination */
.sc_recent_works ol, .sc_recent_posts ol { position: absolute; top: 0; left: -16px; margin: 0; list-style-type: none; }
.sc_recent_works ol li, .sc_recent_posts ol li { margin: 5px 0; }
.sc_recent_works ol li a, .sc_recent_posts ol li a { display: block; width: 4px; height: 4px; border: 1px solid; border-radius: 4px; text-indent: -9999px; opacity: 0.7; }
.sc_recent_works ol li a:hover, .sc_recent_posts ol li a:hover { width: 0; height: 0; border: 3px solid; border-radius: 4px; opacity: 1; }

.sc_recent_works .bx-controls.bx-has-pager, .sc_recent_posts .bx-controls.bx-has-pager  { position: absolute; top: 0; left: -16px; margin: 0; list-style-type: none; }
.sc_recent_works .bx-wrapper .bx-pager, .sc_recent_posts .bx-wrapper .bx-pager { bottom: auto; padding: 0; width: auto;}
.sc_recent_works .bx-wrapper .bx-pager .bx-pager-item, .sc_recent_posts .bx-wrapper .bx-pager .bx-pager-item { display: block; margin: 5px 0; }
.sc_recent_works .bx-wrapper .bx-pager .bx-pager-item a, .sc_recent_posts .bx-wrapper .bx-pager .bx-pager-item a { display: block; width: 4px; height: 4px; border: 1px solid; border-radius: 4px; text-indent: -9999px; opacity: 0.7; margin: 0; background: transparent; }
.sc_recent_works .bx-wrapper .bx-pager .bx-pager-item a:hover, .sc_recent_posts .bx-wrapper .bx-pager .bx-pager-item a:hover { width: 0; height: 0; border: 3px solid; border-radius: 4px; opacity: 1; }
.sc_recent_works .bx-wrapper .bx-pager.bx-default-pager a.active, .sc_recent_posts .bx-wrapper .bx-pager.bx-default-pager a.active { background: #fff;}


/* Testimonial */
.pt_testimonial{border:3px solid #fff;padding:15px;position:relative}
.pt_testimonial blockquote{margin:0;padding:10px 0 0 10px;border:0;}
.pt_testimonial blockquote:before{position:absolute;top:15px;left:15px;content:open-quote;font-size:50px;line-height:100%;opacity:.2;}
.pt_testimonial blockquote small{display:block;margin-top:20px;color:inherit;font-style:italic;font-size:11px;line-height:100%;opacity:.5;}
.pt_testimonial blockquote p{font-style:italic;font-size:20px;line-height:120%;}
.pt_testimonial_wrapper figure{position:relative;float:right;margin-top:-29px;width:85px;text-align:center;}
.pt_testimonial_wrapper figure img{display:inline;border-radius:54px;}
.pt_testimonial_wrapper figure cite{display:block;margin-top:5px;text-align:center;font-weight:bold;font-size:13px;}
.pt_testimonial_wrapper figure cite:after{position:relative;left:50%;display:block;margin-top:5px;margin-left:-10px;width:20px;height:1px;background:white;content:'';opacity:.4;}
.pt_testimonial_wrapper .bx-wrapper .bx-pager .bx-pager-item{margin:0 3px;}
.pt_testimonial_wrapper .bx-wrapper .bx-pager .bx-pager-item a{display:block;margin:0;width:4px;height:4px;border:1px solid;border-radius:4px;background:transparent;text-indent:-9999px;opacity:.7;}
.pt_testimonial_wrapper .bx-wrapper .bx-pager .bx-pager-item a:hover{width:0;height:0;border:3px solid;border-radius:4px;opacity:1;}
.pt_testimonial_wrapper .bx-wrapper .bx-pager.bx-default-pager a.active{background:transparent;}
.pt_testimonial_wrapper .bx-wrapper .bx-pager{bottom:15%;z-index:99;padding-top:0;text-align:left;}

/* Accordion */

.accordion-group
{
	border:none
}

.accordion-inner
{
	padding:10px;
	border:none;
	font-size:11px;
	line-height:160%
}

.accordion-heading .accordion-toggle
{
	position:relative;
	padding:10px;
	border-bottom:1px solid #fff;
	border-bottom:rgba(255,255,255,0.5);
	font-weight:700;
	font-size:11px
}

.accordion-heading .accordion-toggle:after
{
	content:"\e75c";
	font-family:entypo;
	opacity:.5;
	position:absolute;
	right:10px
}


/* Fold / Origami Buttons */


/* Forms */
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus { box-shadow: none; }

/* Form Validation */
#errorContainer { display: none !important; height: 0; visibility: hidden; width: 0; }
#commentform .error, .contact-form .error { border-color: #CC0000; }
.contact-form textarea.error { background-image: -moz-linear-gradient(top , transparent, transparent 39px,#C00 0px); background-image: -webkit-linear-gradient(top , transparent, transparent 39px,#C00 0); background-image: linear-gradient(to bottom , transparent, transparent 39px,#C00 0px); }

/* Newsletter */
.mailing-list-ajax { opacity: 0; margin-top: 130px; z-index: 9; position: absolute; top: 0; left: 0; right: 0; }
.mailing-list-ajax .message-wrapper { display: none; }
.mailing-list-ajax .message { font-family: 'Just Another Hand', cursive; float: left; color: #000; margin-top: 60px; display: block; width: 120px; font-size: 30px; line-height: 28px; transform: rotate(-5deg); -moz-transform: rotate(-5deg); -webkit-transform: rotate(-5deg); -ms-transform: rotate(-5deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5); }
.mailing-list-ajax .message-arrow { background: url("../img/newsletter-arrow.png") no-repeat; width: 40px; height: 44px; display: block; margin-top: 50px; margin-left: 10px; float: left; }
.mailing-list-ajax a.close, a.close { background-image: url("../img/close.png"); text-decoration: none; opacity: 1; filter: alpha(opacity=100); text-shadow:none; width: 35px; height: 35px; position: absolute; right: 60px; top: 60px; z-index: 1030; }
.mailing-list-ajax a.close { top: -70px; }
.mailing-list-ajax a.close:hover, a.close:hover { transform:rotate(180deg); -moz-transform: rotate(180deg); -webkit-transform:rotate(180deg); -ms-transform:rotate(180deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=180); }
.mailing-list-ajax input, .mailing-list-ajax input:hover, .mailing-list-ajax input:focus { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background: none repeat scroll 0 0 transparent; border-color: #FFFFFF; border-image: none; border-radius: 0 0 0 0; border-style: none none solid; border-width: medium medium 1px; box-shadow: none; color: #000; font-size: 37px; line-height: 40px; height: 50px; font-weight: 300; font-style: italic; margin: 35px 0 0 0; padding: 0 30px; position:relative; }
.mailing-list-ajax button { background: none; border: none; font-size: 16px; font-weight: 600; color: #fff; margin: 30px 0 0 15px; position: relative; }
.mailing-list-ajax button, .mailing-list-ajax input { font-family: 'Open Sans', sans-serif; text-transform: uppercase; }

/* Contact Form */
.contact_form_ajax { opacity: 0; margin-top: 130px; z-index: 9; position: absolute; top: 0; left: 0; right: 0; }
.contact_form_ajax .message-wrapper { display: none; margin-left: -10px; width: 180px; }
.contact_form_ajax .message, .message-ok { display: block; font-family: 'Just Another Hand', cursive; float: left; color: #000; margin-top: 40px; font-size: 30px; line-height: 28px; transform: rotate(-5deg); -moz-transform: rotate(-5deg); -webkit-transform: rotate(-5deg); -ms-transform: rotate(-5deg); }

.message-wrapper-ok { display: none; font-family: 'Just Another Hand', cursive; color: #000; transform: rotate(-5deg); -moz-transform: rotate(-5deg); -webkit-transform: rotate(-5deg); -ms-transform: rotate(-5deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5); }
.message-ok { font-size: 60px; line-height: 68px; }

.contact_form_ajax .message-arrow { background: url("../img/newsletter-arrow.png") no-repeat; width: 40px; height: 44px; display: block; margin-top: 50px; margin-left: 10px; float: left; }
.contact_form_ajax a.close { text-decoration: none; opacity: 1; text-shadow:none; background: url("../img/close.png") no-repeat; width: 35px; height: 35px; position: absolute; z-index: 99999; right: 60px; top: -70px; filter: alpha(opacity=100); }
.contact_form_ajax a.close:hover { transform:rotate(180deg); -moz-transform: rotate(180deg); -webkit-transform:rotate(180deg); -ms-transform:rotate(180deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=180); }
.contact_form_ajax input, .contact_form_ajax input:hover, .contact_form_ajax input:focus { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background: none repeat scroll 0 0 transparent; border-color: #FFFFFF; /*border-color: -moz-use-text-color -moz-use-text-color #FFFFFF;*/ border-image: none; border-radius: 0; border-style: none none solid; border-width: medium medium 1px; box-shadow: none; color: #000; font-size: 26px; line-height: 30px; height: auto; font-weight: 300; font-style: italic; margin: 20px 0 0 0; padding: 0 30px; position:relative; }
.contact_form_ajax button { background: none; border: none; font-size: 16px; font-weight: 600; color: #fff; margin: 30px 0 0 15px; position: relative; }
.contact_form_ajax button, .contact_form_ajax input, .contact_form_ajax textarea { font-family: 'Open Sans', sans-serif; text-transform: uppercase; }

textarea { background-color: none; background-color: transparent; background-size: 100% 40px; box-shadow: none; color: #000; font-size: 26px; font-style: italic; font-weight: 300; line-height: 40px; margin-top: 20px; padding: 0 30px; border: none; resize: none;
background-image: -moz-linear-gradient(top , transparent, transparent 39px,#E7EFF8 0px); background-image: -webkit-linear-gradient(top , transparent, transparent 39px,#E7EFF8 0); background-image: linear-gradient(to bottom , transparent, transparent 39px,#E7EFF8 0px); }
textarea:focus { box-shadow: none; }

/* Placeholders */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #000; opacity: 0.6; }
input:-moz-placeholder, textarea:-moz-placeholder,  { color: #000; opacity: 0.6; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #000; opacity: 0.6; }
input:-ms-placeholder, textarea:-ms-placeholder { color: #000; opacity: 0.6; }
aside.widget_search ::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.8); } aside.widget_search :-moz-placeholder { color: rgba(255, 255, 255, 0.8); } aside.widget_search ::-moz-placeholder { color: rgba(255, 255, 255, 0.8); } aside.widget_search :-ms-input-placeholder { color: rgba(255, 255, 255, 0.8); }

#lightwindow{ position: fixed; top:0; left:0; right:0; bottom:0; overflow-x: hidden; -webkit-perspective: 1000; z-index:100; display:none; }
#lightwindow .mask-shape { z-index: 1001;}
#lightwindow a.close { position: absolute; z-index: 9999999; }

/* Simple Icon Hover Effects */
.hi-icon-wrap { text-align: center; margin: 0 auto; padding: 5px 0; }
a.hi-icon {text-decoration: none; }
.hi-icon { display: inline-block; font-size: 0px; cursor: pointer; /*margin: 15px 30px;*/ width: 90px; height: 90px; border-radius: 50%; text-align: center; position: relative; z-index: 1; color: #fff; }
.hi-icon:after { pointer-events: none; position: absolute; width: 100%; height: 100%; border-radius: 50%; content: ''; -webkit-box-sizing: content-box;  -moz-box-sizing: content-box;  box-sizing: content-box; }
.hi-icon:before { font-family: 'entypo'; speak: none; font-size: 48px; line-height: 90px; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; display: block; -webkit-font-smoothing: antialiased; }

/* Effect 1 */
.hi-icon-effect-1 .hi-icon { background: rgba(255,255,255,0.1); -webkit-transition: background 0.2s, color 0.2s; -moz-transition: background 0.2s, color 0.2s; transition: background 0.2s, color 0.2s; }
.hi-icon-effect-1 .hi-icon:after { top: -7px; left: -7px; padding: 7px; box-shadow: 0 0 0 4px #fff; -webkit-transition: -webkit-transform 0.2s, opacity 0.2s; -webkit-transform: scale(.8); -moz-transition: -moz-transform 0.2s, opacity 0.2s; -moz-transform: scale(.8); -ms-transform: scale(.8); transition: transform 0.2s, opacity 0.2s; transform: scale(.8); opacity: 0; }
/* Effect 1a */
.no-touch .hi-icon-effect-1a .hi-icon:hover { background: rgba(255,255,255,1); color: #80DAF0; }
.no-touch .hi-icon-effect-1a .hi-icon:hover:after { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); transform: scale(1); opacity: 1; }
/* Effect 1b */
.no-touch .hi-icon-effect-1b .hi-icon:hover { background: rgba(255,255,255,1); color: #80DAF0; }
.hi-icon-effect-1b .hi-icon:after { -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); }
.no-touch .hi-icon-effect-1b .hi-icon:hover:after { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); transform: scale(1); opacity: 1; }

/* Effect 2 */
.hi-icon-effect-2 .hi-icon { color: #80DAF0; box-shadow: 0 0 0 3px #fff; -webkit-transition: color 0.3s; -moz-transition: color 0.3s; transition: color 0.3s; }
.hi-icon-effect-2 .hi-icon:after { top: -2px; left: -2px; padding: 2px; z-index: -1; background: #fff; -webkit-transition: -webkit-transform 0.2s, opacity 0.2s; -moz-transition: -moz-transform 0.2s, opacity 0.2s; transition: transform 0.2s, opacity 0.2s; }
/* Effect 2a */
.no-touch .hi-icon-effect-2a .hi-icon:hover { color: #80DAF0; }
.no-touch .hi-icon-effect-2a .hi-icon:hover:after { -webkit-transform: scale(0.85); -moz-transform: scale(0.85); -ms-transform: scale(0.85); transform: scale(0.85); }
/* Effect 2b */
.no-touch .hi-icon-effect-2b .hi-icon:hover:after { -webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); transform: scale(0); opacity: 0; -webkit-transition: -webkit-transform 0.4s, opacity 0.2s; -moz-transition: -moz-transform 0.4s, opacity 0.2s; transition: transform 0.4s, opacity 0.2s; }
.no-touch .hi-icon-effect-2b .hi-icon:hover { color: #fff; }

/* Effect 3 */
.hi-icon-effect-3 .hi-icon { box-shadow: 0 0 0 4px #fff; -webkit-transition: color 0.3s; -moz-transition: color 0.3s; transition: color 0.3s; }
.hi-icon-effect-3 .hi-icon:after { top: -2px; left: -2px; padding: 2px; z-index: -1; background: #fff; -webkit-transition: -webkit-transform 0.2s, opacity 0.3s; -moz-transition: -moz-transform 0.2s, opacity 0.3s; transition: transform 0.2s, opacity 0.3s; }
/* Effect 3a */
.hi-icon-effect-3a .hi-icon { color: #80DAF0; }
.no-touch .hi-icon-effect-3a .hi-icon:hover { color: #fff; }
.no-touch .hi-icon-effect-3a .hi-icon:hover:after { -webkit-transform: scale(1.3); -moz-transform: scale(1.3); -ms-transform: scale(1.3); transform: scale(1.3); opacity: 0; }
/* Effect 3b */
.hi-icon-effect-3b .hi-icon { color: #fff; }
.no-touch .hi-icon-effect-3b .hi-icon:hover { color: #80DAF0; }
.hi-icon-effect-3b .hi-icon:after { -webkit-transform: scale(1.3); -moz-transform: scale(1.3); -ms-transform: scale(1.3); transform: scale(1.3); opacity: 0; }
.no-touch .hi-icon-effect-3b .hi-icon:hover:after { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); transform: scale(1); opacity: 1; }

/* Effect 4 */
.hi-icon-effect-4 .hi-icon { width: 92px; height: 92px; box-shadow: 0 0 0 4px rgba(255,255,255,1); }
.hi-icon-effect-4a .hi-icon { -webkit-transition: box-shadow 0.2s; -moz-transition: box-shadow 0.2s; transition: box-shadow 0.2s; }
.hi-icon-effect-4 .hi-icon:before { line-height: 92px; }
.hi-icon-effect-4 .hi-icon:after { top: -4px; left: -4px; padding: 0; z-index: 10; border: 4px dashed #fff; }
.no-touch .hi-icon-effect-4 .hi-icon:hover { box-shadow: 0 0 0 0 rgba(255,255,255,0); color: #fff; }
/* Effect 4b */
.no-touch .hi-icon-effect-4b .hi-icon:hover { -webkit-transition: box-shadow 0.2s; -moz-transition: box-shadow 0.2s; transition: box-shadow 0.2s; }
.no-touch .hi-icon-effect-4b .hi-icon:hover:after { -webkit-animation: spinAround 9s linear infinite; -moz-animation: spinAround 9s linear infinite; animation: spinAround 9s linear infinite; }

@-webkit-keyframes spinAround { from { -webkit-transform: rotate(0deg) } to { -webkit-transform: rotate(360deg); } }
@-moz-keyframes spinAround { from { -moz-transform: rotate(0deg) } to { -moz-transform: rotate(360deg); } }
@keyframes spinAround { from { transform: rotate(0deg) } to { transform: rotate(360deg); } }

/* Effect 5 */.hi-icon-effect-5 .hi-icon { box-shadow: 0 0 0 4px rgba(255,255,255,1); overflow: hidden; -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s; -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s; transition: background 0.3s, color 0.3s, box-shadow 0.3s; }
.hi-icon-effect-5 .hi-icon:after { display: none; }
.no-touch .hi-icon-effect-5 .hi-icon:hover { background: rgba(255,255,255,1); color: #80DAF0; box-shadow: 0 0 0 8px rgba(255,255,255,0.3); }
.no-touch .hi-icon-effect-5a .hi-icon:hover:before { -webkit-animation: toRightFromLeft 0.3s forwards; -moz-animation: toRightFromLeft 0.3s forwards; animation: toRightFromLeft 0.3s forwards; }
@-webkit-keyframes toRightFromLeft { 49% { -webkit-transform: translate(100%); } 50% { opacity: 0; -webkit-transform: translate(-100%); } 51% { opacity: 1; }}
@-moz-keyframes toRightFromLeft { 49% { -moz-transform: translate(100%); } 50% { opacity: 0; -moz-transform: translate(-100%); } 51% { opacity: 1; }}
@keyframes toRightFromLeft { 49% { transform: translate(100%); } 50% { opacity: 0; transform: translate(-100%); } 51% { opacity: 1; } }
.no-touch .hi-icon-effect-5b .hi-icon:hover:before { -webkit-animation: toLeftFromRight 0.3s forwards; -moz-animation: toLeftFromRight 0.3s forwards; animation: toLeftFromRight 0.3s forwards; }
@-webkit-keyframes toLeftFromRight { 49% { -webkit-transform: translate(-100%); } 50% { opacity: 0; -webkit-transform: translate(100%); } 51% { opacity: 1; } }
@-moz-keyframes toLeftFromRight { 49% { -moz-transform: translate(-100%);} 50% { opacity: 0; -moz-transform: translate(100%); } 51% { opacity: 1; } } 
@keyframes toLeftFromRight { 49% { transform: translate(-100%); } 50% { opacity: 0; transform: translate(100%); } 51% { opacity: 1; } }
.no-touch .hi-icon-effect-5c .hi-icon:hover:before { -webkit-animation: toTopFromBottom 0.3s forwards; -moz-animation: toTopFromBottom 0.3s forwards; animation: toTopFromBottom 0.3s forwards; }
@-webkit-keyframes toTopFromBottom { 49% { -webkit-transform: translateY(-100%); } 50% {opacity: 0; -webkit-transform: translateY(100%); } 51% { opacity: 1; } }
@-moz-keyframes toTopFromBottom { 49% { -moz-transform: translateY(-100%); } 50% { opacity: 0; -moz-transform: translateY(100%); } 51% { opacity: 1; } }
@keyframes toTopFromBottom { 49% { transform: translateY(-100%); } 50% { opacity: 0; transform: translateY(100%); } 51% { opacity: 1; } }
.no-touch .hi-icon-effect-5d .hi-icon:hover:before { -webkit-animation: toBottomFromTop 0.3s forwards; -moz-animation: toBottomFromTop 0.3s forwards; animation: toBottomFromTop 0.3s forwards; }
@-webkit-keyframes toBottomFromTop { 49% { -webkit-transform: translateY(100%); } 50% { opacity: 0; -webkit-transform: translateY(-100%); } 51% { opacity: 1; } } 
@-moz-keyframes toBottomFromTop { 49% { -moz-transform: translateY(100%); } 50% { opacity: 0; -moz-transform: translateY(-100%); } 51% { opacity: 1; } }
@keyframes toBottomFromTop { 49% { transform: translateY(100%); } 50% { opacity: 0; transform: translateY(-100%); } 51% { opacity: 1; } }

/* Effect 6 */
.hi-icon-effect-6 .hi-icon { box-shadow: 0 0 0 4px rgba(255,255,255,1); -webkit-transition: background 0.2s, color 0.2s; -moz-transition: background 0.2s, color 0.2s; transition: background 0.2s, color 0.2s; }
.no-touch .hi-icon-effect-6 .hi-icon:hover { background: rgba(255,255,255,1); color: #80DAF0; }
.no-touch .hi-icon-effect-6 .hi-icon:hover:before { -webkit-animation: spinAround 2s linear infinite; -moz-animation: spinAround 2s linear infinite;  animation: spinAround 2s linear infinite; }

/* Effect 7 */
.hi-icon-effect-7 .hi-icon { box-shadow: 0 0 0 4px rgba(255,255,255,1); -webkit-transition: background 0.2s, color 0.2s; -moz-transition: background 0.2s, color 0.2s; transition: background 0.2s, color 0.2s;	}
.no-touch .hi-icon-effect-7 .hi-icon:hover { color: #fff; }
.hi-icon-effect-7 .hi-icon:after { top: -8px; left: -8px; padding: 8px; z-index: -1; opacity: 0; }
/* Effect 7a */
.hi-icon-effect-7a .hi-icon:after { box-shadow: 0 0 0 rgba(255,255,255,1); -webkit-transition: opacity 0.2s, box-shadow 0.2s; -moz-transition: opacity 0.2s, box-shadow 0.2s; transition: opacity 0.2s, box-shadow 0.2s; }
.no-touch .hi-icon-effect-7a .hi-icon:hover:after { opacity: 1; box-shadow: 3px 3px 0 rgba(255,255,255,1); }
.hi-icon-effect-7a .hi-icon:before { -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); transform: scale(0.8); opacity: 0.7; -webkit-transition: -webkit-transform 0.2s, opacity 0.2s; -moz-transition: -moz-transform 0.2s, opacity 0.2s; transition: transform 0.2s, opacity 0.2s; }
.no-touch .hi-icon-effect-7a .hi-icon:hover:before { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); transform: scale(1); opacity: 1; }
/* Effect 7b */
.hi-icon-effect-7b .hi-icon:after { box-shadow: 3px 3px rgba(255,255,255,1); -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); -webkit-transition: opacity 0.2s, -webkit-transform 0.2s; -moz-transition: opacity 0.2s, -moz-transform 0.2s; transition: opacity 0.2s, transform 0.2s; }
.no-touch .hi-icon-effect-7b .hi-icon:hover:after { opacity: 1; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
.hi-icon-effect-7b .hi-icon:before { -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); transform: scale(0.8); opacity: 0.7; -webkit-transition: -webkit-transform 0.2s, opacity 0.2s; -moz-transition: -moz-transform 0.2s, opacity 0.2s; transition: transform 0.2s, opacity 0.2s; }
.no-touch .hi-icon-effect-7b .hi-icon:hover:before { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); transform: scale(1); opacity: 1; }

/* Effect 8 */
.hi-icon-effect-8 .hi-icon { background: rgba(255,255,255,0.1); -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;-moz-transition: -moz-transform ease-out 0.1s, background 0.2s; transition: transform ease-out 0.1s, background 0.2s; }
.hi-icon-effect-8 .hi-icon:after { top: 0; left: 0; padding: 0; z-index: -1; box-shadow: 0 0 0 2px rgba(255,255,255,0.1); opacity: 0; -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); }
.no-touch .hi-icon-effect-8 .hi-icon:hover { background: rgba(255,255,255,0.05); -webkit-transform: scale(0.93); -moz-transform: scale(0.93); -ms-transform: scale(0.93); transform: scale(0.93); color: #fff; }
.hi-icon-effect-8 .hi-icon:hover:after { -webkit-animation: sonarEffect 1.3s ease-out 75ms; -moz-animation: sonarEffect 1.3s ease-out 75ms; animation: sonarEffect 1.3s ease-out 75ms; }
@-webkit-keyframes sonarEffect { 0% { opacity: 0.3; } 40% { opacity: 0.5; box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #80DAF0, 0 0 0 10px rgba(255,255,255,0.5); } 100% { box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #80DAF0, 0 0 0 10px rgba(255,255,255,0.5); -webkit-transform: scale(1.5); opacity: 0; } }
@-moz-keyframes sonarEffect { 0% { opacity: 0.3; } 40% { opacity: 0.5; box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #80DAF0, 0 0 0 10px rgba(255,255,255,0.5); } 100% { box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #80DAF0, 0 0 0 10px rgba(255,255,255,0.5); -moz-transform: scale(1.5); opacity: 0; } }
@keyframes sonarEffect { 0% { opacity: 0.3; } 40% { opacity: 0.5; box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #80DAF0, 0 0 0 10px rgba(255,255,255,0.5); } 100% { box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #80DAF0, 0 0 0 10px rgba(255,255,255,0.5); transform: scale(1.5); opacity: 0; } }

/* Effect 9 */
.hi-icon-effect-9 .hi-icon {  -webkit-transition: box-shadow 0.2s; -moz-transition: box-shadow 0.2s; transition: box-shadow 0.2s; }
.hi-icon-effect-9 .hi-icon:after { top: 0; left: 0; padding: 0; box-shadow: 0 0 0 3px #fff; -webkit-transition: -webkit-transform 0.2s, opacity 0.2s; -moz-transition: -moz-transform 0.2s, opacity 0.2s; transition: transform 0.2s, opacity 0.2s; }
/* Effect 9a */
.no-touch .hi-icon-effect-9a .hi-icon:hover:after { -webkit-transform: scale(0.85); -moz-transform: scale(0.85); -ms-transform: scale(0.85); transform: scale(0.85); opacity: 0.5; }
.no-touch .hi-icon-effect-9a .hi-icon:hover { box-shadow: 0 0 0 10px rgba(255,255,255,1); color: #fff; }
/* Effect 9b */
.no-touch .hi-icon-effect-9b .hi-icon:hover:after { -webkit-transform: scale(0.85); -moz-transform: scale(0.85); -ms-transform: scale(0.85); transform: scale(0.85); }
.no-touch .hi-icon-effect-9b .hi-icon:hover { box-shadow: 0 0 0 10px rgba(255,255,255,0.4); color: #fff; }

/* Animations */
nav a, .flex-control-thumbs, ul.social-profiles li a, aside.widget_tag_cloud .tagcloud a, aside.pt_video_widget a img, .pagination ul>li>a, .pagination ul>li>span, .sc_recent_posts ul li img
{ -webkit-transition: all 250ms ease-out; -moz-transition: all 250ms ease-out; transition: all 250ms ease-out; }

nav li a:before, a.dropdown-toggle:before, .our-team-picture ul li, section.comments a.comment-reply-link, aside.pt_recent_posts_widget li a *, .portfolio-page .portfolio-title
{ -webkit-transition: all 500ms ease-out; -moz-transition: all 500ms ease-out; transition: all 500ms ease-out; }

.loaded-window, #mask-shape.loaded-window, .loaded, #mask-shape.loaded, a.close
{ -webkit-transition: all 750ms ease-out; -moz-transition: all 750ms ease-out; transition: all 750ms ease-out; }

.mailing-list-ajax a.close
{ -webkit-transition: all 1000ms ease-out; -moz-transition: all 1000ms ease-out; transition: all 1000ms ease-out; }

.our-team-picture ul, .flexslider ol, .flexslider:hover ol, .portfolio-page .categories-filter .bt-filter
{ -webkit-transition: all 250ms ease-in-out; -moz-transition: all 250ms ease-in-out; transition: all 250ms ease-in-out; }



section.portfolio li .portfolio-title, section.portfolio li a:hover .portfolio-title, section.blog li .blog-title, section.blog li a:hover .blog-title
{ /* easeOutQuart */ -webkit-transition: all 750ms cubic-bezier(0.165, 0.840, 0.440, 1.000); -moz-transition: all 750ms cubic-bezier(0.165, 0.840, 0.440, 1.000); -ms-transition: all 750ms cubic-bezier(0.165, 0.840, 0.440, 1.000); -o-transition: all 750ms cubic-bezier(0.165, 0.840, 0.440, 1.000); transition: all 750ms cubic-bezier(0.165, 0.840, 0.440, 1.000); }


/*Vendor */

/* Entypo Fontello */
.hi-icon-note:before{content:'\266a';}.hi-icon-note-beamed:before{content:'\266b';}.hi-icon-music:before{content:'\1f3b5';}.hi-icon-search:before{content:'\1f50d';}.hi-icon-flashlight:before{content:'\1f526';}.hi-icon-mail:before{content:'\2709';}.hi-icon-heart:before{content:'\2665';}.hi-icon-heart-empty:before{content:'\2661';}.hi-icon-star:before{content:'\2605';}.hi-icon-star-empty:before{content:'\2606';}.hi-icon-user:before{content:'\1f464';}.hi-icon-users:before{content:'\1f465';}.hi-icon-user-add:before{content:'\e700';}.hi-icon-video:before{content:'\1f3ac';}.hi-icon-picture:before{content:'\1f304';}.hi-icon-camera:before{content:'\1f4f7';}.hi-icon-layout:before{content:'\268f';}.hi-icon-menu:before{content:'\2630';}.hi-icon-check:before{content:'\2713';}.hi-icon-cancel:before{content:'\2715';}.hi-icon-cancel-circled:before{content:'\2716';}.hi-icon-cancel-squared:before{content:'\274e';}.hi-icon-plus:before{content:'\2b';}.hi-icon-plus-circled:before{content:'\2795';}.hi-icon-plus-squared:before{content:'\229e';}.hi-icon-minus:before{content:'\2d';}.hi-icon-minus-circled:before{content:'\2796';}.hi-icon-minus-squared:before{content:'\229f';}.hi-icon-help:before{content:'\2753';}.hi-icon-help-circled:before{content:'\e704';}.hi-icon-info:before{content:'\2139';}.hi-icon-info-circled:before{content:'\e705';}.hi-icon-back:before{content:'\1f519';}.hi-icon-home:before{content:'\2302';}.hi-icon-link:before{content:'\1f517';}.hi-icon-attach:before{content:'\1f4ce';}.hi-icon-lock:before{content:'\1f512';}.hi-icon-lock-open:before{content:'\1f513';}.hi-icon-eye:before{content:'\e70a';}.hi-icon-tag:before{content:'\e70c';}.hi-icon-bookmark:before{content:'\1f516';}.hi-icon-bookmarks:before{content:'\1f4d1';}.hi-icon-flag:before{content:'\2691';}.hi-icon-thumbs-up:before{content:'\1f44d';}.hi-icon-thumbs-down:before{content:'\1f44e';}.hi-icon-download:before{content:'\1f4e5';}.hi-icon-upload:before{content:'\1f4e4';}.hi-icon-upload-cloud:before{content:'\e711';}.hi-icon-reply:before{content:'\e712';}.hi-icon-reply-all:before{content:'\e713';}.hi-icon-forward:before{content:'\27a6';}.hi-icon-quote:before{content:'\275e';}.hi-icon-code:before{content:'\e714';}.hi-icon-export:before{content:'\e715';}.hi-icon-pencil:before{content:'\270e';}.hi-icon-feather:before{content:'\2712';}.hi-icon-print:before{content:'\e716';}.hi-icon-retweet:before{content:'\e717';}.hi-icon-keyboard:before{content:'\2328';}.hi-icon-comment:before{content:'\e718';}.hi-icon-chat:before{content:'\e720';}.hi-icon-bell:before{content:'\1f514';}.hi-icon-attention:before{content:'\26a0';}.hi-icon-alert:before{content:'\1f4a5';}.hi-icon-vcard:before{content:'\e722';}.hi-icon-address:before{content:'\e723';}.hi-icon-location:before{content:'\e724';}.hi-icon-map:before{content:'\e727';}.hi-icon-direction:before{content:'\27a2';}.hi-icon-compass:before{content:'\e728';}.hi-icon-cup:before{content:'\2615';}.hi-icon-trash:before{content:'\e729';}.hi-icon-doc:before{content:'\e730';}.hi-icon-docs:before{content:'\e736';}.hi-icon-doc-landscape:before{content:'\e737';}.hi-icon-doc-text:before{content:'\1f4c4';}.hi-icon-doc-text-inv:before{content:'\e731';}.hi-icon-newspaper:before{content:'\1f4f0';}.hi-icon-book-open:before{content:'\1f4d6';}.hi-icon-book:before{content:'\1f4d5';}.hi-icon-folder:before{content:'\1f4c1';}.hi-icon-archive:before{content:'\e738';}.hi-icon-box:before{content:'\1f4e6';}.hi-icon-rss:before{content:'\e73a';}.hi-icon-phone:before{content:'\1f4de';}.hi-icon-cog:before{content:'\2699';}.hi-icon-tools:before{content:'\2692';}.hi-icon-share:before{content:'\e73c';}.hi-icon-shareable:before{content:'\e73e';}.hi-icon-basket:before{content:'\e73d';}.hi-icon-bag:before{content:'\1f45c';}.hi-icon-calendar:before{content:'\1f4c5';}.hi-icon-login:before{content:'\e740';}.hi-icon-logout:before{content:'\e741';}.hi-icon-mic:before{content:'\1f3a4';}.hi-icon-mute:before{content:'\1f507';}.hi-icon-sound:before{content:'\1f50a';}.hi-icon-volume:before{content:'\e742';}.hi-icon-clock:before{content:'\1f554';}.hi-icon-hourglass:before{content:'\23f3';}.hi-icon-lamp:before{content:'\1f4a1';}.hi-icon-light-down:before{content:'\1f505';}.hi-icon-light-up:before{content:'\1f506';}.hi-icon-adjust:before{content:'\25d1';}.hi-icon-block:before{content:'\1f6ab';}.hi-icon-resize-full:before{content:'\e744';}.hi-icon-resize-small:before{content:'\e746';}.hi-icon-popup:before{content:'\e74c';}.hi-icon-publish:before{content:'\e74d';}.hi-icon-window:before{content:'\e74e';}.hi-icon-arrow-combo:before{content:'\e74f';}.hi-icon-down-circled:before{content:'\e758';}.hi-icon-left-circled:before{content:'\e759';}.hi-icon-right-circled:before{content:'\e75a';}.hi-icon-up-circled:before{content:'\e75b';}.hi-icon-down-open:before{content:'\e75c';}.hi-icon-left-open:before{content:'\e75d';}.hi-icon-right-open:before{content:'\e75e';}.hi-icon-up-open:before{content:'\e75f';}.hi-icon-down-open-mini:before{content:'\e760';}.hi-icon-left-open-mini:before{content:'\e761';}.hi-icon-right-open-mini:before{content:'\e762';}.hi-icon-up-open-mini:before{content:'\e763';}.hi-icon-down-open-big:before{content:'\e764';}.hi-icon-left-open-big:before{content:'\e765';}.hi-icon-right-open-big:before{content:'\e766';}.hi-icon-up-open-big:before{content:'\e767';}.hi-icon-down:before{content:'\2b07';}.hi-icon-left:before{content:'\2b05';}.hi-icon-right:before{content:'\27a1';}.hi-icon-up:before{content:'\2b06';}.hi-icon-down-dir:before{content:'\25be';}.hi-icon-left-dir:before{content:'\25c2';}.hi-icon-right-dir:before{content:'\25b8';}.hi-icon-up-dir:before{content:'\25b4';}.hi-icon-down-bold:before{content:'\e4b0';}.hi-icon-left-bold:before{content:'\e4ad';}.hi-icon-right-bold:before{content:'\e4ae';}.hi-icon-up-bold:before{content:'\e4af';}.hi-icon-down-thin:before{content:'\2193';}.hi-icon-left-thin:before{content:'\2190';}.hi-icon-right-thin:before{content:'\2192';}.hi-icon-up-thin:before{content:'\2191';}.hi-icon-ccw:before{content:'\27f2';}.hi-icon-cw:before{content:'\27f3';}.hi-icon-arrows-ccw:before{content:'\1f504';}.hi-icon-level-down:before{content:'\21b3';}.hi-icon-level-up:before{content:'\21b0';}.hi-icon-shuffle:before{content:'\1f500';}.hi-icon-loop:before{content:'\1f501';}.hi-icon-switch:before{content:'\21c6';}.hi-icon-play:before{content:'\25b6';}.hi-icon-stop:before{content:'\25a0';}.hi-icon-pause:before{content:'\2389';}.hi-icon-record:before{content:'\26ab';}.hi-icon-to-end:before{content:'\23ed';}.hi-icon-to-start:before{content:'\23ee';}.hi-icon-fast-forward:before{content:'\23e9';}.hi-icon-fast-backward:before{content:'\23ea';}.hi-icon-progress-0:before{content:'\e768';}.hi-icon-progress-1:before{content:'\e769';}.hi-icon-progress-2:before{content:'\e76a';}.hi-icon-progress-3:before{content:'\e76b';}.hi-icon-target:before{content:'\1f3af';}.hi-icon-palette:before{content:'\1f3a8';}.hi-icon-list:before{content:'\e005';}.hi-icon-list-add:before{content:'\e003';}.hi-icon-signal:before{content:'\1f4f6';}.hi-icon-trophy:before{content:'\1f3c6';}.hi-icon-battery:before{content:'\1f50b';}.hi-icon-back-in-time:before{content:'\e771';}.hi-icon-monitor:before{content:'\1f4bb';}.hi-icon-mobile:before{content:'\1f4f1';}.hi-icon-network:before{content:'\e776';}.hi-icon-cd:before{content:'\1f4bf';}.hi-icon-inbox:before{content:'\e777';}.hi-icon-install:before{content:'\e778';}.hi-icon-globe:before{content:'\1f30e';}.hi-icon-cloud:before{content:'\2601';}.hi-icon-cloud-thunder:before{content:'\26c8';}.hi-icon-flash:before{content:'\26a1';}.hi-icon-moon:before{content:'\263d';}.hi-icon-flight:before{content:'\2708';}.hi-icon-paper-plane:before{content:'\e79b';}.hi-icon-leaf:before{content:'\1f342';}.hi-icon-lifebuoy:before{content:'\e788';}.hi-icon-mouse:before{content:'\e789';}.hi-icon-briefcase:before{content:'\1f4bc';}.hi-icon-suitcase:before{content:'\e78e';}.hi-icon-dot:before{content:'\e78b';}.hi-icon-dot-2:before{content:'\e78c';}.hi-icon-dot-3:before{content:'\e78d';}.hi-icon-brush:before{content:'\e79a';}.hi-icon-magnet:before{content:'\e7a1';}.hi-icon-infinity:before{content:'\221e';}.hi-icon-erase:before{content:'\232b';}.hi-icon-chart-pie:before{content:'\e751';}.hi-icon-chart-line:before{content:'\1f4c8';}.hi-icon-chart-bar:before{content:'\1f4ca';}.hi-icon-chart-area:before{content:'\1f53e';}.hi-icon-tape:before{content:'\2707';}.hi-icon-graduation-cap:before{content:'\1f393';}.hi-icon-language:before{content:'\e752';}.hi-icon-ticket:before{content:'\1f3ab';}.hi-icon-water:before{content:'\1f4a6';}.hi-icon-droplet:before{content:'\1f4a7';}.hi-icon-air:before{content:'\e753';}.hi-icon-credit-card:before{content:'\1f4b3';}.hi-icon-floppy:before{content:'\1f4be';}.hi-icon-clipboard:before{content:'\1f4cb';}.hi-icon-megaphone:before{content:'\1f4e3';}.hi-icon-database:before{content:'\e754';}.hi-icon-drive:before{content:'\e755';}.hi-icon-bucket:before{content:'\e756';}.hi-icon-thermometer:before{content:'\e757';}.hi-icon-key:before{content:'\1f511';}.hi-icon-flow-cascade:before{content:'\e790';}.hi-icon-flow-branch:before{content:'\e791';}.hi-icon-flow-tree:before{content:'\e792';}.hi-icon-flow-line:before{content:'\e793';}.hi-icon-flow-parallel:before{content:'\e794';}.hi-icon-rocket:before{content:'\1f680';}.hi-icon-gauge:before{content:'\e7a2';}.hi-icon-traffic-cone:before{content:'\e7a3';}.hi-icon-cc:before{content:'\e7a5';}.hi-icon-cc-by:before{content:'\e7a6';}.hi-icon-cc-nc:before{content:'\e7a7';}.hi-icon-cc-nc-eu:before{content:'\e7a8';}.hi-icon-cc-nc-jp:before{content:'\e7a9';}.hi-icon-cc-sa:before{content:'\e7aa';}.hi-icon-cc-nd:before{content:'\e7ab';}.hi-icon-cc-pd:before{content:'\e7ac';}.hi-icon-cc-zero:before{content:'\e7ad';}.hi-icon-cc-share:before{content:'\e7ae';}.hi-icon-cc-remix:before{content:'\e7af';}.hi-icon-github:before{content:'\f300';}.hi-icon-github-circled:before{content:'\f301';}.hi-icon-flickr:before{content:'\f303';}.hi-icon-flickr-circled:before{content:'\f304';}.hi-icon-vimeo:before{content:'\f306';}.hi-icon-vimeo-circled:before{content:'\f307';}.hi-icon-twitter:before{content:'\f309';}.hi-icon-twitter-circled:before{content:'\f30a';}.hi-icon-facebook:before{content:'\f30c';}.hi-icon-facebook-circled:before{content:'\f30d';}.hi-icon-facebook-squared:before{content:'\f30e';}.hi-icon-gplus:before{content:'\f30f';}.hi-icon-gplus-circled:before{content:'\f310';}.hi-icon-pinterest:before{content:'\f312';}.hi-icon-pinterest-circled:before{content:'\f313';}.hi-icon-tumblr:before{content:'\f315';}.hi-icon-tumblr-circled:before{content:'\f316';}.hi-icon-linkedin:before{content:'\f318';}.hi-icon-linkedin-circled:before{content:'\f319';}.hi-icon-dribbble:before{content:'\f31b';}.hi-icon-dribbble-circled:before{content:'\f31c';}.hi-icon-stumbleupon:before{content:'\f31e';}.hi-icon-stumbleupon-circled:before{content:'\f31f';}.hi-icon-lastfm:before{content:'\f321';}.hi-icon-lastfm-circled:before{content:'\f322';}.hi-icon-rdio:before{content:'\f324';}.hi-icon-rdio-circled:before{content:'\f325';}.hi-icon-spotify:before{content:'\f327';}.hi-icon-spotify-circled:before{content:'\f328';}.hi-icon-qq:before{content:'\f32a';}.hi-icon-instagram:before{content:'\f32d';}.hi-icon-dropbox:before{content:'\f330';}.hi-icon-evernote:before{content:'\f333';}.hi-icon-flattr:before{content:'\f336';}.hi-icon-skype:before{content:'\f339';}.hi-icon-skype-circled:before{content:'\f33a';}.hi-icon-renren:before{content:'\f33c';}.hi-icon-sina-weibo:before{content:'\f33f';}.hi-icon-paypal:before{content:'\f342';}.hi-icon-picasa:before{content:'\f345';}.hi-icon-soundcloud:before{content:'\f348';}.hi-icon-mixi:before{content:'\f34b';}.hi-icon-behance:before{content:'\f34e';}.hi-icon-google-circles:before{content:'\f351';}.hi-icon-vkontakte:before{content:'\f354';}.hi-icon-smashing:before{content:'\f357';}.hi-icon-sweden:before{content:'\f601';}.hi-icon-db-shape:before{content:'\f600';}.hi-icon-logo-db:before{content:'\f603';}


/* Magnific Popup CSS */
.mfp-bg {top: 0;left: 0;width: 100%;height: 100%;z-index: 1042;overflow: hidden;position: fixed;background: #0b0b0b;opacity: 0.8;filter: alpha(opacity=80);}.mfp-wrap {top: 0;left: 0;width: 100%;height: 100%;z-index: 1043;position: fixed;outline: none !important;-webkit-backface-visibility: hidden;}.mfp-container {text-align: center;position: absolute;width: 100%;height: 100%;left: 0;top: 0;padding: 0 8px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}.mfp-container:before {content: '';display: inline-block;height: 100%;vertical-align: middle;}.mfp-align-top .mfp-container:before {display: none;}.mfp-content {position: relative;display: inline-block;vertical-align: middle;margin: 0 auto;text-align: left;z-index: 1045;}.mfp-inline-holder .mfp-content,.mfp-ajax-holder .mfp-content {width: 100%;cursor: auto;}.mfp-ajax-cur {cursor: progress;}.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close {cursor: -moz-zoom-out;cursor: -webkit-zoom-out;cursor: zoom-out;}.mfp-zoom {cursor: pointer;cursor: -webkit-zoom-in;cursor: -moz-zoom-in;cursor: zoom-in;}.mfp-auto-cursor .mfp-content {cursor: auto;}.mfp-close,.mfp-arrow,.mfp-preloader,.mfp-counter {-webkit-user-select: none;-moz-user-select: none;user-select: none;}.mfp-loading.mfp-figure {display: none;}.mfp-hide {display: none !important;}.mfp-preloader {color: #cccccc;position: absolute;top: 50%;width: auto;text-align: center;margin-top: -0.8em;left: 8px;right: 8px;z-index: 1044;}.mfp-preloader a {color: #cccccc;}.mfp-preloader a:hover {color: white;}.mfp-s-ready .mfp-preloader {display: none;}.mfp-s-error .mfp-content {display: none;}button.mfp-close,button.mfp-arrow {overflow: visible;cursor: pointer;background: transparent;border: 0;-webkit-appearance: none;display: block;padding: 0;z-index: 1046;}button::-moz-focus-inner {padding: 0;border: 0;}.mfp-close {width: 44px;height: 44px;line-height: 44px;position: absolute;right: 0;top: 0;text-decoration: none;text-align: center;opacity: 0.65;padding: 0 0 18px 10px;color: white;font-style: normal;font-size: 28px;font-family: Arial, Baskerville, monospace;}.mfp-close:hover, .mfp-close:focus {opacity: 1;}.mfp-close:active {top: 1px;}.mfp-close-btn-in .mfp-close {color: #333333;}.mfp-image-holder .mfp-close,.mfp-iframe-holder .mfp-close {color: white;right: -6px;text-align: right;padding-right: 6px;width: 100%;}.mfp-counter {position: absolute;top: 0;right: 0;color: #cccccc;font-size: 12px;line-height: 18px;}.mfp-arrow {position: absolute;opacity: 0.65;margin: 0;top: 50%;margin-top: -55px;padding: 0;width: 90px;height: 110px;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}.mfp-arrow:active {margin-top: -54px;}.mfp-arrow:hover,.mfp-arrow:focus {opacity: 1;}.mfp-arrow:before, .mfp-arrow:after,.mfp-arrow .mfp-b,.mfp-arrow .mfp-a {content: '';display: block;width: 0;height: 0;position: absolute;left: 0;top: 0;margin-top: 35px;margin-left: 35px;border: solid transparent;}.mfp-arrow:after,.mfp-arrow .mfp-a {border-top-width: 13px;border-bottom-width: 13px;top: 8px;}.mfp-arrow:before,.mfp-arrow .mfp-b {border-top-width: 21px;border-bottom-width: 21px;}.mfp-arrow-left {left: 0;}.mfp-arrow-left:after,.mfp-arrow-left .mfp-a {border-right: 17px solid white;margin-left: 31px;}.mfp-arrow-left:before,.mfp-arrow-left .mfp-b {margin-left: 25px;border-right: 27px solid #3f3f3f;}.mfp-arrow-right {right: 0;}.mfp-arrow-right:after,.mfp-arrow-right .mfp-a {border-left: 17px solid white;margin-left: 39px;}.mfp-arrow-right:before,.mfp-arrow-right .mfp-b {border-left: 27px solid #3f3f3f;}.mfp-iframe-holder {padding-top: 40px;padding-bottom: 40px;}.mfp-iframe-holder .mfp-content {line-height: 0;width: 100%;max-width: 900px;}.mfp-iframe-scaler {width: 100%;height: 0;overflow: hidden;padding-top: 56.25%;}.mfp-iframe-scaler iframe {position: absolute;display: block;top: 0;left: 0;width: 100%;height: 100%;box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);background: black;}.mfp-iframe-holder .mfp-close {top: -40px;}img.mfp-img {width: auto;max-width: 100%;height: auto;display: block;line-height: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 40px 0 40px;margin: 0 auto;}.mfp-figure:after {content: '';position: absolute;left: 0;top: 40px;bottom: 40px;display: block;right: 0;width: auto;height: auto;z-index: -1;box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);background: #444444;}.mfp-figure {line-height: 0;}.mfp-bottom-bar {margin-top: -36px;position: absolute;top: 100%;left: 0;width: 100%;cursor: auto;}.mfp-title {text-align: left;line-height: 18px;color: #f3f3f3;word-break: break-word;padding-right: 36px;}.mfp-figure small {color: #bdbdbd;display: block;font-size: 12px;line-height: 14px;}.mfp-image-holder .mfp-content {max-width: 100%;}.mfp-gallery .mfp-image-holder .mfp-figure {cursor: pointer;}@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {.mfp-img-mobile .mfp-image-holder {padding-left: 0;padding-right: 0;}.mfp-img-mobile img.mfp-img {padding: 0;}.mfp-img-mobile .mfp-figure:after {top: 0;bottom: 0;}.mfp-img-mobile .mfp-bottom-bar {background: rgba(0, 0, 0, 0.6);bottom: 0;margin: 0;top: auto;padding: 3px 5px;position: fixed;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}.mfp-img-mobile .mfp-bottom-bar:empty {padding: 0;}.mfp-img-mobile .mfp-counter {right: 5px;top: 3px;}.mfp-img-mobile .mfp-close {top: 0;right: 0;width: 35px;height: 35px;line-height: 35px;background: rgba(0, 0, 0, 0.6);position: fixed;text-align: center;padding: 0;}.mfp-img-mobile .mfp-figure small {display: inline;margin-left: 5px;}}@media all and (max-width: 900px) {.mfp-arrow {-webkit-transform: scale(0.75);transform: scale(0.75);}.mfp-arrow-left {-webkit-transform-origin: 0;transform-origin: 0;}.mfp-arrow-right {-webkit-transform-origin: 100%;transform-origin: 100%;}.mfp-container {padding-left: 6px;padding-right: 6px;}}.mfp-ie7 .mfp-img {padding: 0;}.mfp-ie7 .mfp-bottom-bar {width: 600px;left: 50%;margin-left: -300px;margin-top: 5px;padding-bottom: 5px;}.mfp-ie7 .mfp-container {padding: 0;}.mfp-ie7 .mfp-content {padding-top: 44px;}.mfp-ie7 .mfp-close {top: 0;right: 0;padding-top: 0;}
/* Styles for dialog window */
#small-dialog {background: white;padding: 20px 30px;text-align: left;max-width: 400px;margin: 40px auto;position: relative;}
/* Fade-zoom animation */
.my-mfp-zoom-in .zoom-anim-dialog {opacity: 0;-webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); transform: scale(0.8); }.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {opacity: 1;-webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {-webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); transform: scale(0.8); opacity: 0;}.my-mfp-zoom-in.mfp-bg {opacity: 0;-webkit-transition: opacity 0.3s ease-out; -moz-transition: opacity 0.3s ease-out; -o-transition: opacity 0.3s ease-out; transition: opacity 0.3s ease-out;}.my-mfp-zoom-in.mfp-ready.mfp-bg {opacity: 0.8;}.my-mfp-zoom-in.mfp-removing.mfp-bg {opacity: 0;}
/* Fade-move animation */
.my-mfp-slide-bottom .zoom-anim-dialog {opacity: 0;-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;transition: all 0.2s ease-out;-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );}.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {opacity: 1;-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); -moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); -ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); -o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); transform: translateY(0) perspective( 600px ) rotateX( 0 ); }.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {opacity: 0;-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); -moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); -ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); -o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); }/* Dark overlay, start state */.my-mfp-slide-bottom.mfp-bg {opacity: 0;-webkit-transition: opacity 0.3s ease-out; -moz-transition: opacity 0.3s ease-out; -o-transition: opacity 0.3s ease-out; transition: opacity 0.3s ease-out;}.my-mfp-slide-bottom.mfp-ready.mfp-bg {opacity: 0.8;}.my-mfp-slide-bottom.mfp-removing.mfp-bg {opacity: 0;}





/* ==========================================================================
   Origami Prototype
   ========================================================================== */
.origami { position: relative; z-index: 10; cursor: pointer; }
.origami.open { z-index: 900; }
.origami.hover, .origami:hover { z-index: 1000; }
.origami .kami { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #ffffff; text-align: center; }
.origami .kami-wrapper { position: absolute; width: 100%; height: 100%; top: 0; left: 0; }
.origami .kami-wrapper .kami-mask,  .origami .kami-wrapper .kami-peek-mask { position: absolute; width: 50%; top: 0; bottom: 0; overflow: hidden; }
.origami .kami-wrapper .kami-mask .kami, .origami .kami-wrapper .kami-peek-mask .kami { width: 200%; }
.origami .kami-wrapper .kami-mask { right: 50%; left: 0; }
.origami .kami-wrapper .kami-mask .kami { left: 0; }
.origami .kami-wrapper .kami-peek-mask { right: 0; left: 50%; }
.origami .kami-wrapper .kami-peek-mask .kami { right: 0; left: auto; }
.origami .kami-wrapper .kami-peek-mask .kami-shadow { position: absolute; display: block; content: " "; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; opacity: 0; background: #000000; }
/* Modernizr fallback support */
.no-csstransitions .origami .kami-wrapper .kami-peek-mask .kami .kami-shadow { display: none; }

.origami { color: #FFF; margin: 0 auto; height: 190px; width: 100%; text-align: center; }
.origami p {  text-align: center; }
.origami .origami-content { background-color: #5A8CAB; color: #ffffff; }
.origami .origami-content p { margin: 0 20px; }
.origami .hi-icon { margin: 40px 0; width: auto; height: auto; }
.origami .hi-icon:before { font-size: 110px; line-height: 100%; color: #5A8CAB; }
.origami-content .hi-icon { margin: 30px 0 0; }
.origami-content .hi-icon:before { font-size: 47px; line-height: 100%; color: #ffffff; }

/* JS Composer */
.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon, .wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon { display: none !important; }
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a, .wpb_content_element .wpb_accordion_header a { color: #000000; }
.wpb_wrapper .ui-state-active a, .wpb_wrapper .ui-state-active a:link, .wpb_wrapper .ui-state-active a:visited, .wpb_wrapper .ui-state-default a, .wpb_wrapper .ui-state-default a:link, .wpb_wrapper .ui-state-default a:visited { color: white; }
.ui-state-active a { font-weight: bold; }
.wpb_accordion_header.ui-accordion-header.ui-helper-reset.ui-state-default, .wpb_accordion_content.ui-accordion-content { background: none; border-radius: 0; border-top: none; border-right: none; border-bottom: 1px solid rgba(255,255,255,0.5); border-left: none; padding: 0; font-size: 11px; color: #fff; padding: 5px 10px 5px 0; }
.wpb_wrapper .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab, .wpb_wrapper .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content { padding: 0 10px 10px; }
.wpb_accordion_header.ui-accordion-header.ui-accordion-header-active.ui-state-active { border: none; }
h3.wpb_accordion_header:after { content: "\e75c"; float: right; font-family: entypo; margin-top: -25px; opacity: 0.5; }
h3.wpb_accordion_header.ui-state-active:after { content: "\e75f"; opacity: 1; }
.ui-state-focus { outline: none; }




/* WordPress Core */
.alignnone{margin:5px 20px 20px 0}.aligncenter,div.aligncenter{display:block;margin:5px auto 5px auto}.alignright{float:right;margin:5px 0 20px 20px}.alignleft{float:left;margin:5px 20px 20px 0}.aligncenter{display:block;margin:5px auto 5px auto}a img.alignright{float:right;margin:5px 0 20px 20px}a img.alignnone{margin:5px 20px 20px 0}a img.alignleft{float:left;margin:5px 20px 20px 0}a img.aligncenter{display:block;margin-left:auto;margin-right:auto}.wp-caption{background:#fff;border:1px solid #f0f0f0;max-width:96%;padding:5px 3px 10px;text-align:center}.wp-caption.alignnone{margin:5px 20px 20px 0}.wp-caption.alignleft{margin:5px 20px 20px 0}.wp-caption.alignright{margin:5px 0 20px 20px}.wp-caption img{border:0 none;height:auto;margin:0;max-width:98.5%;padding:0;width:auto}.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;margin:0;padding:0 4px 5px}.wp-caption, .wp-caption-text>a {color: #000;}.sticky{}.gallery-caption{}.bypostauthor{}

/* IE */
.lt-ie9 #mask-shape.unloaded { filter: alpha(opacity=100), progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ff0bc', endColorstr='#2d83de', GradientType=1); }
.lt-ie9 #mask-shape.loaded { filter: alpha(opacity=60), progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ff0bc', endColorstr='#2d83de', GradientType=1); }
.lt-ie9 #mask-shape.loaded-window { filter: alpha(opacity=95), progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ff0bc', endColorstr='#2d83de', GradientType=1); }

.lt-ie9 .ie-show { display: block; filter: alpha(opacity=100);}
.lt-ie9 .tweet_list li, .dropdown-toggle { background-color: transparent !important; }
.lt-ie9 .dropdown-submenu>.dropdown-menu { left: 100%; }

.lt-ie9 .flexslider ol li { border: 3px solid transparent; width: 82px; height: 45px; }
.lt-ie9 .flexslider ol li:hover { border: 3px solid #80DAF0; width: 82px; height: 45px; }

.lt-ie9 ul.social-profiles li { filter: alpha(opacity=50) }
.lt-ie9 .our-team-picture ul { padding: 45px 0; }
.lt-ie9 .our-team-picture:hover ul { filter: alpha(opacity=90), progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ff0bc', endColorstr='#2d83de', GradientType=1); }
.lt-ie9 figure .gradient { filter: alpha(opacity=70), progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ff0bc', endColorstr='#2d83de', GradientType=1); }

.lt-ie9 aside.pt_video_widget .play-icon, .lt-ie9 .play-icon { line-height: 24px; }
.lt-ie9 .contact_form_ajax a.close, .lt-ie9 .mailing-list-ajax a.close { top: 0; }

.ie9 header, .ie9 section, .ie9 footer, .ie9 nav li a, .ie9 .social .social-icons li, .ie9 footer .copyright, .ie9 footer #fullscreen, .ie9 .btn-navbar, .ie9 .mailing-list-ajax .message, .ie9 a.close, .ie9 .twitterfeed, .ie9 .our-team-picture:hover ul, .ie9 .our-team-picture:hover ul li { opacity: 1; filter: ; }
.ie9 .mailing-list-ajax .message { margin-left: 25px; }


span.fill140 {width: 140px; display: inline-block !important; }